body {
  text-align: center;
}

.title {
  background-image: url(https://static.wixstatic.com/media/a57a37_a006151b35c7463b8d2a5518b19e1c34.jpg/v1/fill/w_882,h_452,al_c,q_90,usm_0.66_1.00_0.01/a57a37_a006151b35c7463b8d2a5518b19e1c34.webp);
  background-size: cover;
  height: 500px;
  text-align: left;
}

#dancers {
  font-size: 50px;
}

.why {
  background: #c06f58;
  padding-top: 10px;
}

.jumbotron {
  margin-bottom: 0;
}

.container-footer {
  background: #c06f58;
  padding-top: 5px;
}
